            ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: rgb(1, 121, 177);
        }
        
        li {
          float: left;
        }
        
        li:last-child {
          border-right: none;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.ativar) {
          background-color: #111;
        }
        
        .ativar {
          background-color: rgb(3, 52, 85);
        }
        
        .fundo {
            background-color: rgb(213, 214, 216);
        }

        .willsmitho {
            height: 20px;
            position: absolute;
            top: 50px;
            left: 20px;
            transform: translate(-50% ,-50%);
        }